@font-face{
    font-family: Blue-Highway;
    src: url("../vendor/font/blue highway rg.ttf");
}
body{
    font-family: Blue-Highway;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Home Styling */
#home{
    width: 100%;
    background: url("../vendor/img/ofspacebg.png") no-repeat;
    height: 130vh;
}

#header .header-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
#header .nav-menu{
    margin-left:7%;
}
#header .menu{
    display: flex;
}
#header .logo a{
    text-decoration: none;
    color: #fff;
}
#header .logo a:hover{
    opacity:0.8;
    transition: all ease-in-out 0.6s;
}
#header .menu .nav-link{
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    opacity: 0.7;
}
#header .menu .nav-link.active{
    border-bottom: 2px solid #fff;
}
#header .menu .nav-link:hover{
    color: #fff;
    opacity: 1;
    transition: ease 0.4s;
}
#header .sign-up-btn-container{
    padding-top: 3px;
    margin-left: -15%;
}
#header .sign-up-btn-container .btn{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.7;
    border: 1.4px solid;
    border-radius: 20px;
    padding: 6px 22px;
}
#header .sign-up-btn-container .btn:hover{
    opacity: 1;
    background: #fff;
    color: #111 !important;
    transition: ease-in-out 0.6s;
}

#hero .txt-container{
    text-align: center;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 60px;
}
#hero .txt-container p{
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    opacity: 0.7;
}
#hero .dashboard-container {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 40px;
}
#hero .dashboard-container img{
    width: 100%;
    box-shadow: 3px 18px 20px 0 rgb(74 100 164 / 40%);
    border-radius: 10px;   
}


/* Partners Section Styling */
#partners{
    padding-top: 10%;
    padding-bottom: 8%;
}
#partners .img-container {
    display: flex;
    margin-left: 19%;
    margin-right: 19%;
    justify-content: space-evenly;
}
#partners img{
    max-width: 110px;
    filter: grayscale(100%);
    opacity: 0.7;
}
#partners img:hover{
    filter: grayscale(0);
    transition: all ease-in-out 0.5s;
}

/* Why us Section styling */
#whyus .first-container{
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
}
#whyus .first-container .whyussec{
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}
#whyus .first-container .whyussec h2{
    font-weight: bolder;
    font-size:38px;
    margin-top: 10px;
}
#whyus .first-container ,.whyussec p{
    margin-top: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#whyus .first-container .whyussec .btn{
    background: #0e927a;
    color: rgba(255, 255, 255, 0.884);
    padding: 10px 50px;
    border-radius: 40px;
    border: #0e927a solid 2px;
    margin-top: 30px;
    margin-bottom: 50px;
}
/* Button Hovering styling */
#whyus .first-container .whyussec .btn:hover{
    background: none;
    color: #0e927a;
    transition: all ease-in-out 0.4s;
}
#whyus .first-container .first-container-cards .arrow{
    width: 20px;
    margin-left: auto;
    margin-right: 10px;
}
#whyus .first-container .first-container-cards .arrow i::before{
    margin-left: auto;
    margin-right: 0;
    font-size: 15px;
    border-radius: 50%;
    padding: 15px 15px;
}
/* Arrow Styling */
#whyus .first-container .first-container-cards .arrow .fa-arrow-right.white::before{
    background: #fff;
}
#whyus .first-container .first-container-cards .arrow .fa-arrow-right.green::before{
    background: #f6faf9;
}
#whyus img{
    width: 25% !important;
    margin-bottom: 10px;
}
#whyus .first-container .first-container-cards{
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 40px;
}
#whyus .first-container .first-container-cards h4{
    font-weight: 500;
}
#whyus .first-container .first-container-cards p{
    font-size: 12.45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #777c82;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
#whyus .first-container .first-container-cards.green{
    background: #f6faf9;
}
@media(min-width:1040px){
    #whyus .first-container .whyussec{
        padding-left: 49px;
        padding-right: 60px;
    }
}

#whyus .second-container{
    display: flex;
    margin-left: 15.6%;
    margin-right: 6%;
    margin-bottom: 5%;
}
#whyus .second-container .second-container-cards .arrow{
    width: 20px;
    margin-left: auto;
    margin-right: 10px;
}
#whyus .second-container .second-container-cards .arrow i::before{
    margin-left: auto;
    margin-right: 0;
    font-size: 15px;
    border-radius: 50%;
    padding: 15px 15px;
}
/* Arrow Styling */
#whyus .second-container .second-container-cards .arrow .fa-arrow-right.white::before{
    background: #fff;
}
#whyus .second-container .second-container-cards .arrow .fa-arrow-right.green::before{
    background: #f6faf9;
}
#whyus img{
    width: 25% !important;
    margin-bottom: 10px;
}
#whyus .second-container .second-container-cards{
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 40px;
}
#whyus .second-container .second-container-cards h4{
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#whyus .second-container .second-container-cards p{
    font-size: 12.45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #777c82;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
#whyus .second-container .second-container-cards.green{
    background: #f6faf9;
}

/* Company section styling */
/* ---------------------------------- */
/* Company Firsrt Section Styling */
#company{
    padding-top: 10%;
    background: #fafafa;
    padding-left: 6%;
    padding-right:6%;
}
#company img{
    width: 50%;
}
#company .company-1, .company-2, .company-3, .company-4{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 8%;
}
#company .company-1 .txt-container{
    padding-right: 10%;
    margin-top: auto;
}
#company h2{
    margin-bottom: 40px;
    font-size: 38px;
    letter-spacing: -0.6px;
}
#company p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: #373737;
    opacity: 0.9;
}
#company .company-1 .btn{
    background: #0e927a;
    color: rgba(255, 255, 255, 0.884);
    padding: 10px 30px;
    border-radius: 40px;
    border: #0e927a solid 2px;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Button Hover Styling  */
#company .company-1 .btn:hover{
    background: none;
    color: #0e927a;
    transition: all ease-in-out 0.4s;
}
/* Company second section styling */
#company .company-2 .txt-container{
    padding-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
}
/* Company Second section button styling */
#company .company-2 .btn{
    background: transparent;
    color: #0e927a;
    padding: 10px 30px;
    border-radius: 40px;
    border: #0e927a solid 2px;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Button Hover Styling  */
#company .company-2 .btn:hover{
    background: #0e927a;
    color: rgba(255, 255, 255, 0.884);
    transition: all ease-in-out 0.4s;
}
/* Company Third section styling */
#company .company-3 .txt-container{
    padding-right: 10%;
    margin-top: auto;
}
/* Company third section button styling */
#company .company-3 .btn{
    background: #0e927a;
    color: rgba(255, 255, 255, 0.884);
    padding: 10px 30px;
    border-radius: 40px;
    border: #0e927a solid 2px;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Button Hover Styling  */
#company .company-3 .btn:hover{
    background: none;
    color: #0e927a;
    transition: all ease-in-out 0.4s;
}
/* Company Fourth section styling */
#company .company-4 .txt-container{
    padding-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
}
/* Company fourth section button styling */
#company .company-4 .btn{
    background: transparent;
    color: #0e927a;
    padding: 10px 30px;
    border-radius: 40px;
    border: #0e927a solid 2px;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Button Hover Styling  */
#company .company-4 .btn:hover{
    background: #0e927a;
    color: rgba(255, 255, 255, 0.884);
    transition: all ease-in-out 0.4s;
}
/* -------------------------------------------------- */
/* Client Section Stlying */
#clients{
    margin-top: 8%;
    padding-top: 50px;
    padding-bottom: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#clients .client-head{
    text-align: center;
}
#clients .client-head h2{
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 15px;
}
#clients .client-head p{
    color: #373737;
    opacity: 0.9;
}
/* Client comma styling */
#clients .comma-container img{
    width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/* Client  cards styling*/
#clients .client-details{
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-right: 30px;
}
#clients .client-details .sect{
    background: #fff;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    border-radius: 15px;
    box-shadow: rgb(74 100 164 / 15%) 3px 10px 25px;
}
#clients .client-details .sect:hover{
    transform: scale(1.07);
    transition: all ease-in-out 0.4s;
}
#clients .client-details .sect img{
    width: 70px;
    border-radius: 50%;
    margin-top: -30px;
    margin-bottom: 20px;
}
#clients .client-details .sect .info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#clients .client-details .sect .info span{
    font-size: 14px !important;
    color: #d7dae1;
}
#clients .client-details .sect .stars{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    color: #d7dae1;
}
#clients .client-details .sect .stars .gold{
    color: #f4b333;
}
#clients .circles {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
}
#clients .circles .circle-container{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: #d7dae1;
}
#clients .circles .circle-container .gold{
    color: #f4b333 !important;
}
/*______________________________________________________________ */
/*                      Footer Section styling                  */
/*______________________________________________________________*/
footer .footer-sect{
    display: flex;
}
footer .footer-sect .signup-sect{
    width: 50%;
    background: #f8f8f8;
    padding-left: 8%;
    padding-right: 10%;
    padding-top: 60px;
}
footer .footer-sect .signup-sect h2{
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.06rem;
    margin-bottom: 25px;
    color: #1e2633;
}
footer .footer-sect .signup-sect p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #4d5667;
}
footer .footer-sect .signup-sect h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: #172842;
    font-size: 17px;
    margin-bottom: 30px;
}
footer .footer-sect .signup-sect .btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0e927a;
    border-radius: 30px;
    padding: 10px 30px;
    border: #0e927a solid 1.8px;
    margin-bottom: 60px;
}
footer .footer-sect .signup-sect .btn:hover{
    background: #0e927a;
    color: #fff;
    transition: all ease-in-out 0.4s;
}
footer .signup-sect .social{
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    width: 200px;
    font-size: 16px;
}
footer .signup-sect .social i{
    background: #fff;
    color: #0e927a;
    padding: 16px;
    width:  46px !important;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgb(74 100 164 / 20%) 3px 10px 25px;
}
footer .signup-sect .social i:hover{
    color: #fff;
    background: #0e927a;
    transition: all ease-in-out 0.4s;
    box-shadow: none;
}
/* footer menu section styling */
footer .footer-sect .menu-sect{
    width: 50%;
    padding-left: 100px;
    padding-right: 130px;
    padding-top: 60px;
    padding-bottom: 35px;
}
footer .footer-sect .menu-sect .info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #383838;
    font-weight: 600;
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 20px;
}
footer .footer-sect .menu-sect .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
footer .footer-sect .menu-sect .menu .head{
    color: #192a44;
    font-weight: 600;
    margin-bottom: 16px;
}
footer .footer-sect .menu-sect .menu p{
    color: #4b4b4b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}
footer .footer-sect .menu-sect .menu .links{
    display: flex;
    flex-direction: column;
}
footer .footer-sect .menu-sect .creds p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #383838;
    font-weight: 600;
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 20px;
}
footer .footer-sect .creds span{
    color: #4a5670;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
    opacity: 0.8;
    font-weight: 500;
}